app/pdfTemplates/cv.tpl.jade
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        style.
            body {
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
            }

            body a {
                color: #000;
            }

            body .icon-details {
                margin-bottom: 10px;
            }

            body .icon-details .element,
            body .icon-details .fa {
                color: #8d8e8f;
                font-size: 14px;
            }

            body .icon-details .element {
                display: inline-block;
                margin-right: 10px;
            }

            body .icon-details .element .fa {
                margin-right: 3px;
            }

            body .header {
                margin-bottom: 25px;
            }

            body .header .logo {
                max-width: 122px;
            }

            body .user-info {
                display: table;
                margin-bottom: 45px;
            }

            body .user-info > div {
                display: table-cell;
                vertical-align: top;
            }

            body .user-info .avatar {
                margin-top: 5px;
                border-radius: 4px;
                overflow: hidden;
                background: #fff;
                width: 80px;
                height: 80px;
            }

            body .user-info .avatar img {
                max-width: 80px;
            }

            body .user-info .details {
                padding-left: 20px;
            }

            body .user-info .details > h3 {
                font-size: 22px;
                margin: 0;
                font-weight: 600;
            }

            body .user-info .details > span {
                font-size: 18px;
                font-weight: 600;
            }

            body .user-info .details > span.salary-range {
                font-size: 16px;
                margin-left: 10px;
            }

            body .user-info .details .categories {
                max-width: 370px;
                font-size: 12px;
                color: #747576;
            }

            body .user-info .details .icon-details {
                margin-top: 10px;
            }

            body .user-info .details .icon-details .element {
                font-size: 13px;
            }

            body .user-info .details .icon-details .element .fa {
                color: #cc4544;
                font-size: 13px;
            }

            body .details {
                position: relative;
            }

            body .details .update-info {
                position: absolute;
                top: 0;
                right: 0;
                color: #b8b8b9;
                font-size: 12px;
            }

            body .details .panel {
                page-break-inside: avoid;
            }

            body .details .panel .title {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }

            body .details .panel .details {
                font-size: 14px;
            }

            body .details .panel.work-experience > p {
                font-size: 15px;
                margin: 0;
            }

            body .details .panel.work-experience > p span {
                color: #999;
                margin-left: 10px;
            }

            body .details .panel.work-experience .work {
                margin-bottom: 35px;
            }

            body .details .panel.work-experience .work > p {
                font-weight: 600;
                margin-bottom: 0;
            }

            body .details .panel.edu .education {
                margin-bottom: 35px;
            }

            body .details .panel.edu .education > p {
                font-weight: 600;
                margin-bottom: 0;
            }

            body .details .panel.languages .lang-list {
                margin-bottom: 30px;
            }

            body .details .panel.languages .lang-list .element {
                display: inline-block;
            }

            body .details .panel.languages .lang-list .element:not(:last-child) {
                margin-right: 60px;
            }

            body .details .panel.languages .lang-list .element span {
                font-size: 15px;
                font-weight: 600;
            }

            body .details .panel.languages .lang-list .element span.level {
                font-size: 13px;
                font-weight: 500;
                color: #999;
                margin-left: 3px;
            }
    body
        .header
            img.logo(src=logo)
            link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
            link(href='https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700', rel='stylesheet')
        .user-info
            div
                .avatar
                    img(src='http://res.cloudinary.com/hkuil73zi/image/upload/v1479227045/avatar-51eae100c2e6b6c222ec3444.png')
            .details
                h3 #{resume.title}
                if (resume.userData.firstName && resume.userData.lastName)
                    span=resume.userData.firstName + ' ' + resume.userData.lastName
                if(resume.desiredSalaryRange)
                    span.salary-range=resume.desiredSalaryRange.name[lang]
                .icon-details
                    if resume.userData.phone
                        .element
                            i.fa.fa-phone
                            | #{resume.userData.phone}
                    if resume.userData.email
                        .element
                            i.fa.fa-envelope
                            | #{resume.userData.email}
                    if resume.userData.city
                        .element
                            i.fa.fa-map-marker
                            | #{resume.userData.city.name[lang]}
                    if resume.expat
                        .element
                            i.fa.fa-plane
                            | Expat
                    if resume.foreignDegree
                        .element
                            i.fa.fa-graduation-cap
                            | Foreign degree
                if resume.userData.categories
                    .categories
                        | #{resume.userData.categories}
        .details
            p.update-info
                i.fa.fa-refresh
                |  CV last updated: #{resume.updateDate}
            .panel.work-experience
                h3.title Work experience
                p
                    | Total work experience:
                    span #{resume.userData.workExperience}
                for workExperience in resume.workExperience
                    .work
                        p=workExperience.title
                        .icon-details
                            .element
                                i.fa.fa-briefcase
                                | #{workExperience.company}
                            .element
                                i.fa.fa-calendar
                                | #{workExperience.startDate} - #{workExperience.endDate}
                            .element
                                i.fa.fa-map-marker
                                | #{workExperience.city}
                        .details!=workExperience.description
            if resume.education.length
                .panel.edu
                    h3.title Education
                    for education in resume.education
                        .education
                            p #{education.school}
                            .icon-details
                                .element
                                    i.fa.fa-graduation-cap
                                    | #{education.degree} - #{education.fieldOfStudy}
                                .element
                                    i.fa.fa-calendar
                                    | #{education.startDate}-#{education.endDate}
                                .element
                                    i.fa.fa-map-marker
                                    | #{education.city}
            if resume.languages.length
                .panel.languages
                    h3.title Languages
                    .lang-list
                        for language in resume.languages
                            .element
                                span=language.name
                                span.level=language.level
            if resume.additionalInfo
                .panel.skills
                    h3.title Skills, exams and additional info
                    .details!=resume.additionalInfo

app/pdfTemplates/cv.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cv.css" />
</head>
<body>
<div class="header">
    <img class="logo" src="../email-static/logo.png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700" rel="stylesheet">
</div>
<div class="user-info">
    <div>
        <div class="avatar">
            <img src="http://res.cloudinary.com/hkuil73zi/image/upload/v1479227045/avatar-51eae100c2e6b6c222ec3444.png" />
        </div>
    </div>
    <div class="details">
        <h3>Fine artist</h3>
        <span>Charles Dustin Struckland</span>
        <span class="salary-range">400,001 - 600,000 KZT</span>
        <div class="icon-details">
            <div class="element">
                <i class="fa fa-phone"></i>
                +7(908)444-52-22
            </div>
            <div class="element">
                <i class="fa fa-envelope"></i>
                alex@emailserver.kz
            </div>
            <div class="element">
                <i class="fa fa-map-marker"></i>
                Astana
            </div>
            <div class="element">
                <i class="fa fa-plane"></i>
                Expat
            </div>
            <div class="element">
                <i class="fa fa-graduation-cap"></i>
                Foreign degree
            </div>
        </div>
        <div class="categories">
            Automative business, Business Development, Customer relations, Oil and Gas, Engineering, Contructions, Manufacturing, QA/QC
        </div>
    </div>
</div>
<div class="details">
    <p class="update-info"><i class="fa fa-refresh"></i> CV last updated: 27/04/2016</p>
    <div class="panel work-experience">
        <h3 class="title">Work experience</h3>
        <p>Total work experience: <span>14 years 2 months</span></p>

        <div class="work">
            <p>Fine Artist</p>
            <div class="icon-details">
                <div class="element">
                    <i class="fa fa-briefcase"></i>
                    Yaka Spectrum
                </div>
                <div class="element">
                    <i class="fa fa-calendar"></i>
                    01.2010 - Present
                </div>
                <div class="element">
                    <i class="fa fa-map-marker"></i>
                    Astana
                </div>
            </div>
            <div class="details">
                <p>Some details</p>
                <ul>
                    <li>Some list</li>
                    <li>Some list</li>
                    <li>Some list</li>
                    <li>Some list</li>
                    <li>Some list</li>
                </ul>
                <p>Styles I work with: Abstractionism, Abstract Impressionism, Abstract Expressionism, Geometric Abstractionism, Colourfield Painting, Post-Painterly Abstraction, Purism, Orientalism</p>
            </div>
        </div>
    </div>

    <div class="panel edu">
        <h3 class="title">Education</h3>
        <div class="education">
            <p>Fine Artist</p>
            <div class="icon-details">
                <div class="element">
                    <i class="fa fa-graduation-cap"></i>
                    PhD - Intelectual Property
                </div>
                <div class="element">
                    <i class="fa fa-calendar"></i>
                    2012-2015
                </div>
                <div class="element">
                    <i class="fa fa-map-marker"></i>
                    Astana
                </div>
            </div>
        </div>
        <div class="education">
            <p>Fine Artist</p>
            <div class="icon-details">
                <div class="element">
                    <i class="fa fa-graduation-cap"></i>
                    PhD - Intelectual Property
                </div>
                <div class="element">
                    <i class="fa fa-calendar"></i>
                    2012-2015
                </div>
                <div class="element">
                    <i class="fa fa-map-marker"></i>
                    Astana
                </div>
            </div>
        </div>
    </div>

    <div class="panel languages">
        <h3 class="title">Languages</h3>
        <div class="lang-list">
            <div class="element">
                <span>Russian</span>
                <span class="level">Intermediate</span>
            </div>
            <div class="element">
                <span>Russian</span>
                <span class="level">Intermediate</span>
            </div>
            <div class="element">
                <span>Russian</span>
                <span class="level">Intermediate</span>
            </div>
        </div>
    </div>

    <div class="panel skills">
        <h3 class="title">Skills, exams and additional info</h3>
        <div class="details">
            <p>Some details</p>
            <ul>
                <li>Some list</li>
                <li>Some list</li>
                <li>Some list</li>
                <li>Some list</li>
                <li>Some list</li>
            </ul>
            <p>Styles I work with: Abstractionism, Abstract Impressionism, Abstract Expressionism, Geometric Abstractionism, Colourfield Painting, Post-Painterly Abstraction, Purism, Orientalism</p>
        </div>
    </div>
</div>
</body>
</html>
